

{% extends "base.html" %}
{% block content %}
    {% include 'form_error.html' %}

    {% if success %}
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">축하합니다!!!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        쾌변하셨군요!! 💩💩💩
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
    <div class="container text-center" onload="getTime()">

        <div class="container yl">
            어제는 <b>{{ poopoo_yesterday  }}</b>번의 응가를 했어요. &#128584;
        </div>
        <div class="container yl">
            오늘은 <b>{{ poopoo_today  }}</b>번의 응가를 했어요.&#128541;
        </div>
        <img src="/static/img/logo.png" width="40%">

        <form method="post">
            {{ form.csrf_token }}
            <label for="userid"></label>
            <input type="hidden" class="form-control" name="userid" id="userid"
                   value="{{ g.user.userid }}">
                 <p id="WhatTimeIsItNow"></p>
            <button type="submit" class="btn btn-primary">기록하기</button>
        </form>

    </div>

{% endblock %}

{% block script %}
    <script>
        {% if success %}
            var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
                keyboard: false
            })
            myModal.toggle()

        {% endif %}

        document.getElementById('nav_home').classList.add('active')

        function getTime() {
            var d = new Date();	// 현재 날짜와 시간
            var hur = d.getHours();		// 시
            var min = d.getMinutes();	//분
            var sec = d.getSeconds();	//초

            var timeBoard = document.getElementById("WhatTimeIsItNow"); // 값이 입력될 공간

            var time = "현재 시간 : " + hur + "시 " + min + "분 " + sec + "초"	// 형식 지정

            timeBoard.innerHTML = time;	// 출력

            setTimeout(getTime, 1000);	//1000밀리초(1초) 마다 반복
        }

        {#document.addEventListener('load', )#}
        document.getElementsByTagName('body').addEventListener('load', getTime())
    </script>
{% endblock %}
